menu "Frerunning FoC example menu"
            
    config FOC_PWM_U_PIN
        int "Gpio number for PWM of phase U"
        range 0 34
        default 13

    config FOC_PWM_V_PIN
        int "Gpio number for PWM of phase V"
        range 0 34
        default 27

    config FOC_PWM_W_PIN
        int "Gpio number for PWM of phase W"
        range 0 34
        default 16

    config FOC_ENCODER_SDA_PIN
        int "Encoder sensor sda pin value"
        range 0 34
        default 18
        
    config FOC_ENCODER_SCL_PIN
        int "Encoder sensor scl pin value"
        range 0 34
        default 19

   config FOC_ENCODER_A_PIN
        int "Encoder sensor A pin value"
        range 0 34
        default 26
        
    config FOC_ENCODER_B_PIN
        int "Encoder sensor B pin value"
        range 0 34
        default 25

endmenu
