CONFIG_ESP_TASK_WDT_EN=n

CONFIG_ESP_FOC_SCOPE=y
CONFIG_ESP_FOC_SCOPE_NUM_CHANNELS=8
CONFIG_ESP_FOC_SCOPE_BUFFER_SIZE=512
CONFIG_ESP_FOC_SCOPE_TX_ALWAYS=y
CONFIG_ESP_FOC_STREAM_BRIDGE_UART=y
CONFIG_ESP_FOC_STREAM_UART_BAUD=921600
CONFIG_ESP_FOC_STREAM_UART_TX_PIN=17
CONFIG_ESP_FOC_STREAM_UART_RX_PIN=18

CONFIG_ESP_FOC_PWM_RATE_HZ=20000

CONFIG_COMPILER_OPTIMIZATION_PERF=y
