menu "espFoC Settings"

    config NOOF_AXIS
        int "Number of motor outputs"
        range 1 4
        default 1
        help
            The number of motor outputs available, this option
            is the number of motor sets, each set is composed
            by total PWM outputs and sensor inputs.

    config FOC_TASK_STACK_SIZE
        int "Task stack size of foc controller"
        default 3072

    config ESP_FOC_CUSTOM_MATH
        bool "Use custom espFoC fast math"
        default y

    config ESP_FOC_SCOPE
        bool "Enable scope data sending"
        default y

    config ESP_FOC_SCOPE_BUFFER_SIZE
        int "Size of scope buffer in frames"
        default 256

    config ESP_FOC_USE_SINE_PWM
        bool "Use Sinewave modulation for PWM, if not it will use the SVPWM"
        default y

    config ESP_FOC_COMP_THI
        bool "Enable third harmonic injection compensation on SVPWM"
        depends on !ESP_FOC_USE_SINE_PWM
        default n

    config ESP_FOC_PERF_BUILD
        select COMPILER_OPTIMIZATION_PERF
        default y
endmenu


