# FITL + shell on esp32 QEMU (GPTimer tick, no scope bridge)
CONFIG_IDF_TARGET="esp32"

CONFIG_ESP_FOC_FITL=y
CONFIG_FOC_ITL_TICK_GPTIMER=y
CONFIG_FOC_ITL_TICK_MCPWM=n

CONFIG_ESPFOC_SHELL=y
CONFIG_ESP_FOC_SCOPE=n

CONFIG_ESP_TASK_WDT_EN=n

CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
