menu "Frerunning FoC example menu"

    config FOC_PWM_U_PIN
        int "Gpio number for PWM of phase U"
        range 0 34
        default 19

    config FOC_PWM_V_PIN
        int "Gpio number for PWM of phase V"
        range 0 34
        default 20

    config FOC_PWM_W_PIN
        int "Gpio number for PWM of phase W"
        range 0 46
        default 3

    config FOC_PWM_EN_PIN
        int "Gpio number for PWM of phase W"
        range 0 34
        default 14

endmenu
